//$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

//@import 'sass-bootstrap/lib/bootstrap';

/* Give nav panel on right some margin */
.nav-right {
    padding-right: 15px;
}

.navbar-btn {
    margin-left: 5px;
    margin-right: 5px;
}

.alert-instruction {
    text-align: center;
}

/* Grid Hover Image Opacity */
.grid {
    opacity: .7;
}
.grid:hover {
    opacity: 1;
    cursor: pointer;
}

.grid-footer {
    text-align: right;
}

.grid-newpathway-graph {
    max-width: 160px;
    border-width:3pt;
    border-color: #f8f8f8;   
    border-style:dashed;
}

.grid-panel-new {
    
}

.panel-body {
    align-items:center;
}

.panel-focus {
    max-width: 640px;
}