//$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

//@import 'sass-bootstrap/lib/bootstrap';

/* Give nav panel on right some margin */
.nav-right {
    padding-right: 15px;
}

.navbar-btn {
    margin-left: 5px;
    margin-right: 5px;
}

.alert-instruction {
    text-align: center;
}

/* Grid Hover Image Opacity */
.gridblock {
    opacity: .7;
    height: 240px;
    position:relative;
}

.gridblock:hover {
    opacity: 1;
    cursor: pointer;
}

.gridblock-home {
    opacity: 1;
    text-align: center;
}

.panel-footer {
    //text-align: right;
    position:absolute;
    bottom:0;
    //background-color: #eeeeee;
    width:100%;
}

.gridblock-newpathway-graph {
    max-width: 160px;
}

.panel-body {
    align-items:center;
}

.panel-focus {
    //max-width: 640px;
}
.panel-focus-heading {
    padding: 5px;
}

.phospho-icon {
    padding-left: 30px;
    padding-top: 8px;
    height: 42px;
}

.navbar-brand {
    font-size: 24px;
    padding-left: 5px;
}

.flask-counter {
    text-align: right;
}
// Fix bootstrap styling to work with angular-ui-bootstrap
// [http://angular-ui.github.io/bootstrap/#/getting_started]
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.first-column {
  width: 34%;
  float: left;
}

.second-column {
  width: 64%;
  float: right;
}
// Hero Widgets
.hero-widget { text-align: center; padding-top: 20px; padding-bottom: 20px; }
.hero-widget .icon { display: block; margin-bottom: 4px; text-align: center; }
// .hero-widget .icon { display: block; font-size: 64px; line-height: 64px; margin-bottom: 10px; text-align: center; }
.hero-widget var { display: block; height: 24px; font-size: 24px; line-height: 24px; font-style: normal; }
.hero-widget label { font-size: 17px; }
.hero-widget .options { margin-top: 4px; }

//Login Form
  .login-login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
            margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .login-span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
  }
  .login-hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .login h3 {
    text-align: center;
    line-height: 300%;
  }