//$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

//@import 'sass-bootstrap/lib/bootstrap';

/* Give nav panel on right some margin */
.nav-right {
    padding-right: 15px;
}

.navbar-btn {
    margin-left: 5px;
    margin-right: 5px;
}

.alert-instruction {
    text-align: center;
}

/* Grid Hover Image Opacity */
.gridblock {
    opacity: .7;
    height: 240px;
    position:relative;
}

.gridblock:hover {
    opacity: 1;
    cursor: pointer;
}

.gridblock-home {
    opacity: 1;
    text-align: center;
}

.panel-footer {
    //text-align: right;
    position:absolute;
    bottom:0;
    //background-color: #eeeeee;
    width:100%;
}

.gridblock-newpathway-graph {
    max-width: 160px;
}

.panel-body {
    align-items:center;
}

.panel-focus {
    //max-width: 640px;
}
.panel-focus-heading {
    padding: 5px;
}

.phospho-icon {
    padding-left: 30px;
    padding-top: 8px;
    height: 42px;
}

.navbar-brand {
    font-size: 24px;
    padding-left: 5px;
}

.flask-counter {
    text-align: right;
}