<!-- Data Picker -->
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <div class="panel panel-default">
    <ul class="list-group">
      <li class="list-group-item">
        <strong class="list-group-item-heading">Pick Dataset</strong><br>
        <select ng-model="dataset" ng-options="ds.title for ds in user.collection.datasets"></select>
      </li>
      <li class="list-group-item">
        <strong class="list-group-item-heading">Bind To</strong><br>
        <input type="radio" ng-model="figureType" value="pathway">  Pathway <br/>
        <input type="radio" ng-model="figureType" value="kinome"> Kinome <br/>
      </li>
      <div ng-switch on="figureType">
        <li class="list-group-item" ng-switch-when="pathway">
          <strong class="list-group-item-heading">Cell Signaling Pathway</strong><br>
          <select ng-model="pathwayTitle" ng-options="value for (key, value) in user.collection.pathways.titles" ng-change="getPathway(pathwayTitle)"></select>
        </li>
        <li class="list-group-item" ng-switch-when="kinome">
          <strong class="list-group-item-heading">Kinase-substrate interactome</strong><br>
          <select ng-model="interactome" ng-options="value for (key, value) in ksIntTitles"></select>
        </li>
      </div>
      <li class="list-group-item">
        <button type="button" class="btn btn-default">Save</button>
      </li>
    </ul>
  </div>
</div>

<!-- Figure -->
<div ng-switch on="figureType">
  
  <!-- Pathway -->
  <div ng-switch-when="pathway">
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
      <div class="panel panel-default" ng-hide="!pathway">
          <ph-pathway-render scaler="1" graph="pathway.graph" dataset="dataset"></ph-pathway-render>
      </div>
    </div>
  </div>

  <!-- Kinome -->
  <div ng-switch-when="kinome">
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
      <div class="panel panel-default">
        <ph-kinome kinomeData="kinome" scaler="1"></ph-kinome> 
      </div>
    </div>
  </div>
    
</div>
<!-- end of figure -->