<!--header-->
<div class="panel panel-default col-xs-12 col-sm-8 col-md-9 col-lg-10">
  <div class="panel-body">
     {{d.headerText}}
  </div>
</div>

<!--dashboard panels-->
<div class="panel panel-default dash-pane {{panel.cols}}" ng-repeat="panel in d.panels">

  <!-- title button-->
  <button type="button" class="btn btn-info btn-block">
    <img src="images/icons/{{panel.icon}}.png" class="btn-icon">
    {{panel.title}}
  </button>

  <!--body panes-->
  <div ng-repeat="pane in panel.body">

    <!-- if pane is a selector -->
    <div ng-if="pane.type === 'select'">
      <select ng-model="{{pane.model}}">
    </div>

    <!-- if pane is a graph directive -->
    <div ng-if="pane.type === 'graphDirective'">
      <ph-graph type="{{pane.figureType}}" data="{{pane.data}}"></ph-graph>
    </div>

  </div>
</div>
