<!-- Pathway Graph -->
<div class="col-xs-12 col-sm-12 col-md-9 col-lg-7" ng-show="pathway">
  <div class="panel panel-default panel-pathway">
    <div class="panel-heading">
      {{newPathwayTitle}}
    </div>
    <div>
      <ph-pathway-edit scaler="1" graph="pathway.graph" select-item="selectItem(item)"></ph-pathway-edit>
    </div>
  </div>
</div>

<!-- Sidebar  -->
<div class="hidden-xs hidden-sm col-md-3 col-lg-3">

  <!-- Selected Item -->
  <div ng-show="selectedItem">
    <div class="panel panel-default">
      <ul class="list-group">

        <!-- Selectively show properties based on selection type -->
        <div ng-switch on="selectedItem.type">

          <!-- Prperties for Node -->
          <div ng-switch-when="node">
            <li class="list-group-item">
              <strong class="list-group-item-heading">Label</strong><br>
              <input type="text" size="14" ng-model="selectedItem.graphItem.label">
            </li>
            <li class="list-group-item">
              <strong class="list-group-item-heading">Type</strong><br>
                <input type="radio" ng-model="selectedItem.graphItem.type" value="prot">  Protein <br/>
                <input type="radio" ng-model="selectedItem.graphItem.type" value="event"> Event <br/>
                <input type="radio" ng-model="selectedItem.graphItem.type" value="pathway"> Pathway <br/>
            </li>
            <li class="list-group-item">
              <strong class="list-group-item-heading">Compartment</strong><br>
              <input type="radio" ng-model="selectedItem.graphItem.compartment" value="membrane">  membrane <br/>
              <input type="radio" ng-model="selectedItem.graphItem.compartment" value="cytosol">  cytosol <br/>
              <input type="radio" ng-model="selectedItem.graphItem.compartment" value="nucleus">  nucleus <br/>
            </li>
            <li class="list-group-item">
              <strong class="list-group-item-heading">Add Target</strong><br>
              <select ng-model="newTarget" ng-options="n as n.label for n in pathway.graph.nodes"></select>
              <!-- Commented this out bc its broken -->
              <!-- <button type="button" class="btn btn-default" ng-click="newLink(selectedItem.graphItem, newTarget)">+</button> -->
            </li>
          </div>

          <!-- Properties for Link -->
          <div ng-switch-when="link">
            <li class="list-group-item">
              <strong class="list-group-item-heading">Source</strong><br>
              <select ng-model="selectedItem.graphItem.source" ng-options="n as n.label for n in pathway.graph.nodes"></select>
            </li>
            <li class="list-group-item">
              <strong class="list-group-item-heading">Target</strong><br>
              <select ng-model="selectedItem.graphItem.target" ng-options="n as n.label for n in pathway.graph.nodes"></select>
            </li>
            <li class="list-group-item">
              <strong class="list-group-item-heading">Type</strong><br>
                <input type="radio" ng-model="selectedItem.graphItem.type" value="activate">  activate <br/>
                <input type="radio" ng-model="selectedItem.graphItem.type" value="inhibit">  inhibit <br/>
            </li>
          </div>

        </div>
        <!-- End of ng-switch -->

        <!-- Buttons for Deselect and Delete -->
        <li class="list-group-item">
          <div class="btn-group">
            <button type="button" class="btn btn-primary" ng-click="clearSelection()">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button type="button" class="btn btn-danger" ng-click="deleteItem(selectedItem)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>
        </li>

      </ul>
    </div>
  </div>

  <!-- Pathway Picker -->
  <div ng-hide="selectedItem">
    <div class="panel panel-default">
      <ul class="list-group">
        <li class="list-group-item" ng-show="pathway">
          <strong class="list-group-item-heading">Title</strong><br>
          <input type="text" size="14" ng-model="newPathwayTitle">
        </li>
        <li class="list-group-item">
          <strong class="list-group-item-heading">Template</strong><br>
          <select class="sidebar-select" ng-model="templateTitle" ng-options="t for t in user.collection.pathways.titles" ng-change="getPathway(templateTitle)"></select>
        </li>
        <li class="list-group-item" ng-show="pathway">
          <button type="button" class="btn btn-default btn-block" ng-click="newNode()">Add Node</button>
        </li>
        <li class="list-group-item">
          <tags-input ng-model="pathway.metadata.tags"></tags-input>
        </li>
        <li class="list-group-item" ng-show="pathway">
          <button type="button" class="btn btn-default btn-block" ng-click="savePathway()"><img class="btn-icon" src="images/icons/treasure_chest_add.png">Save</button>
        </li>
      </ul>
    </div>
  </div>

</div>

  

  