

<!-- Pathway Graph -->
<div class="col-xs-12 col-sm-10 col-md-9 col-lg-7" ng-show="pathwayTemplate">
  <div class="panel panel-default">
      <ph-pathway-edit scaler="1" graph="pathwayTemplate.graph" select-node="selectNode(item)" select-item="selectItem(item)"></ph-pathway-render>
  </div>
</div>

<!-- Right Sidebar (only visible on md and lg devices) -->
<div class="hidden-xs hidden-sm col-md-3 col-lg-3">

  <!-- Selected Item -->
  <div ng-show="selectedItem">
    <div class="panel panel-default">
      <ul class="list-group">

        <!-- Selectively show properties based on selection type -->
        <div ng-switch on="selectedItem.type">

          <!-- Prperties for Node -->
          <div ng-switch-when="node">
            <li class="list-group-item">
              <strong class="list-group-item-heading">Label</strong><br>
              <input type="text" ng-model="selectedItem.graphItem.label">
            </li>
            <li class="list-group-item">
              <strong class="list-group-item-heading">Type</strong><br>
                <input type="radio" ng-model="selectedItem.graphItem.type" value="prot">  Protein <br/>
                <input type="radio" ng-model="selectedItem.graphItem.type" value="event"> Event <br/>
                <input type="radio" ng-model="selectedItem.graphItem.type" value="pathway"> Pathway <br/>
            </li>
            <li class="list-group-item">
              <strong class="list-group-item-heading">Compartment</strong><br>
              <input type="radio" ng-model="selectedItem.graphItem.compartment" value="membrane">  membrane <br/>
              <input type="radio" ng-model="selectedItem.graphItem.compartment" value="cytosol">  cytosol <br/>
              <input type="radio" ng-model="selectedItem.graphItem.compartment" value="nucleus">  nucleus <br/>
            </li>
            <li class="list-group-item">
              <strong class="list-group-item-heading">Add Target</strong><br>
              <select ng-model="newTarget" ng-options="n as n.label for n in pathwayTemplate.graph.nodes"></select>
              <button type="button" class="btn btn-default" ng-click="newLink(selectedItem.graphItem, newTarget)">+</button>
            </li>
          </div>

          <!-- Properties for Link -->
          <div ng-switch-when="link">
            <li class="list-group-item">
              <strong class="list-group-item-heading">Source</strong><br>
              <select ng-model="selectedItem.graphItem.source" ng-options="n as n.label for n in pathwayTemplate.graph.nodes"></select>
            </li>
            <li class="list-group-item">
              <strong class="list-group-item-heading">Target</strong><br>
              <select ng-model="selectedItem.graphItem.target" ng-options="n as n.label for n in pathwayTemplate.graph.nodes"></select>
            </li>
            <li class="list-group-item">
              <strong class="list-group-item-heading">Type</strong><br>
                <input type="radio" ng-model="selectedItem.graphItem.type" value="activate">  activate <br/>
                <input type="radio" ng-model="selectedItem.graphItem.type" value="inhibit">  inhibit <br/>
            </li>
          </div>

        </div>
        <!-- End of ng-switch -->

        <!-- Buttons for Deselect and Delete -->
        <li class="list-group-item">
          <div class="btn-group">
            <button type="button" class="btn btn-primary" ng-click="clearSelection()">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button type="button" class="btn btn-danger" ng-click="deleteItem(selectedItem)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>
        </li>

      </ul>
    </div>
  </div>

  <!-- Pathway Picker -->
  <div>
    <div class="panel panel-default">
      <ul class="list-group">
        <li class="list-group-item">
          <strong class="list-group-item-heading">Template Pathway</strong><br>
          <select ng-model="pathwayTemplateTitle" ng-options="value for (key, value) in pathwayTemplateTitles" ng-change="getPathwayTemplate(pathwayTemplateTitle)"></select>
        </li>
        <li class="list-group-item" ng-show="pathwayTemplate">
          <button type="button" class="btn btn-default" ng-click="newNode()">Add Node</button>
        </li>
      </ul>
    </div>
  </div>

</div>

  

  