<div class="header">
  <div class="row">
    <div class="col-md-4">
      <div class="content-heading clearfix media">
        <img class="pull-left" src="images/phosphate.png">
        <h3 class="text-muted">Phospho</h3>
      </div>
    </div>
    <div class="col-md-8">
      <ul class="nav nav-pills pull-right">
        <li><a ng-href="#feed">Data Feed</a></li>
        <li><a ng-href="#share">Share</a></li>
        <li class="active"><a ng-href="#curate">Curate</a></li>
        <li ng-hide="auth.user"><a ng-href="#" ng-click="login()">Log In</a></li>
        <li ng-show="auth.user"><a ng-href="#" ng-click="logout()">Log Out</a></li>
        <li><a ng-href="#">About</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default" id="instructionPanel">
      <h5>doubleclick to select a node or link</h5>
    </div>
    <div class="panel panel-default" id="nodeSelectPanel" ng-hide="!selectedNode || selectedPath">
      <div class="panel-heading">
        <h3 class="panel-title">{{selectedNode.label}}</h3>
      </div>
      <div class="panel-body" ng-hide="editMode === true">
        <span>Type: {{selectedNode.type}}</span>
        <div class="btn-group">
          <button type="button" class="btn btn-success" ng-click="selectedNode = null">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
          <button type="button" class="btn btn-warning" ng-click="editMode = true">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
          <button type="button" class="btn btn-danger" ng-click="spliceNode(selectedNode)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="panel panel-default" id="pathSelectPanel" ng-hide="!selectedPath || selectedNode">
      <h4>Link: {{selectedPath.source.label}} {{selectedPath.type}}s {{selectedPath.target.label}}</h4>
      <button ng-click="spliceLink(selectedPath)">Remove Link</button>
    </div>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <dm-edit val="interactome" scaler="dmScale" select-node="selectNode(item)" select-path="selectPath(item)"></dm-edit>
    </div>
  </div>
</div>