<div class="header">
  <ul class="nav nav-pills pull-right">
    <li ng-show="auth.user"><a ng-href="#">Home</a></li>
    <li ng-show="auth.user" class="active"><a ng-href="#curate">Curate Interactome</a></li>
    <li ng-show="auth.user"><a ng-href="#share">Share Data</a></li>
    <li ng-show="auth.user"><a ng-href="#feed">Data Feed</a></li>
    <li ng-hide="auth.user"><a ng-href="#" ng-click="login()">Log In</a></li>
    <li ng-show="auth.user"><a ng-href="#" ng-click="logout()">Log Out</a></li>
  </ul>
  <h3 class="text-muted">phospho</h3>
</div>
<dm-edit val="interactome" scaler="dmScale"></dm-edit>