<!-- Navigation Grid View -->
<div class="nav-grid" ng-show="!gridSelection">

  <!-- Figure Grid Filtering Options -->
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default">
        <ul class="nav nav-pills nav-justified">
          <li><a href=""><i class="fa fa-search fa-fw"></i> Search </a></li>
          <li><a href=""><i class="fa fa-clock-o fa-fw"></i> Recent </a></li>
          <li><a href=""><i class="fa fa-tags fa-fw"></i> Topics </a></li>
          <li><a href=""><i class="fa fa-users fa-fw"></i> Users </a></li>
          <li><a href=""><i class="fa fa-code-fork fa-fw"></i> Forks </a></li>
          <li><a href=""><i class="fa fa-flask fa-fw"></i> Flasks </a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Grid -->
  <div class="row">

    <!-- Home Block -->
    <div class="col-sm-4 col-md-3 col-lg-3">
      <div class="alert alert-info gridblock gridblock-home">
        <h4><i class="fa fa-th fa-fw"></i> Figure Grid</h4>
          <p><br>Explore figures, sort using filters, and click the <i class="fa fa-flask fa-fw"></i>  on those that are interesting or helpful. <br><br>You can download as PDF and share locally, or instantly publish online.</p>
      </div>
    </div>

    <!-- New Pathway Block -->
    <div class="col-sm-4 col-md-3 col-lg-3" ng-click="gridSelect('newPathway')">
      <div class="panel panel-success gridblock">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="fa fa-plus fa-fw"></i> New Pathway
          </h3>
        </div>
        <br>
        <span class="gridblock-newpathway-graph" phos-pathway graph="newPathwayTemplate.graph" options="gridblockNewPathwayOptions"></span>
      </div>
    </div>

    <!-- New Kinome Block -->
    <div class="col-sm-4 col-md-3 col-lg-3">
      <div class="panel panel-success gridblock">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-plus fa-fw"></i> New Kinome</h3>
        </div>
        <div class="panel-body">
           New Kinome
        </div>
      </div>
    </div>

    <!-- Loaded Blocks -->
    <div class="col-sm-4 col-md-3 col-lg-3" ng-repeat="fig in sharedFigs" ng-click="gridSelect(fig)">
      <div class="panel panel-primary gridblock">
        <div class="panel-heading">
          <h3 class="panel-title">{{fig.title}}</h3>
        </div>
        <div class="panel-body">
          {{fig.content}}
        </div>
        <div class="panel-footer">
          <span class="pull-right">
            <span class="badge">
              <i class="fa fa-code-fork fa-fw"></i> {{fig.forks}}
            </span>
            &nbsp;
            <span class="badge">
              <i class="fa fa-flask fa-fw"></i> {{fig.flasks}}
            </span>
          </span>
          <span class="pull-left">
            <i class="fa fa-user fa-fw"></i> {{fig.author}}
          </span>
        </div>
      </div>
    </div>

  </div>


</div>

<!-- Panel-Focus View -->
<div ng-if="gridSelection">

  <div class="row">

    <!-- Sidebar -->
    <div class="col-md-4">
      <div class="panel panel-default">
        <ul class="nav nav-pills nav-justified">
          <li ng-click="gridSelect('empty')"><a href=""><i class="fa fa-th fa-fw"></i> Back to Grid </a></li>
        </ul>
      </div>



      <!-- Contextual Panels for Mutables -->
      <div ng-if="!gridSelection.isImmutable">

        <!-- "Edit Figure" Panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Biological Data</h3>
          </div>
          <ul class="nav nav-pills nav-stacked">
            <li><a href=""><i class="fa fa-floppy-o fa-fw"></i> Import Files</a></li>
            <li><a href=""><i class="fa fa-list-alt fa-fw"></i> Lay Out Conditions</a></li>
            <li><a href=""><i class="fa fa-signal fa-fw"></i> Scale and Preprocess </a></li>      
          </ul>
        </div>

        <!-- "Pathway" Panel -->
        <div class="panel panel-default" ng-if="gridSelection.type === 'newPathway'">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-picture-o fa-fw"></i> Pathway</h3>
          </div>
          <ul class="nav nav-pills nav-stacked">
            <li><a href=""><i class="fa fa-anchor fa-fw"></i> Load Template </a></li>
            <li><a href=""><i class="fa fa-plus-circle fa-fw"></i> Add Node </a></li>
            <li><a href=""><i class="fa fa-plus-circle fa-fw"></i> Add Path </a></li>
          </ul>
        </div>

        <!-- "Figure" Panel -->
        <div class="panel panel-default" ng-if="gridSelection.type === 'newPathway'">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-file-o fa-fw"></i> Figure</h3>
          </div>
          <ul class="nav nav-pills nav-stacked">
            <li><a href=""><i class="fa fa-play fa-fw"></i> Bind Data </a></li>
            <li><a href=""><i class="fa fa-download fa-fw"></i> Download </a></li>
            <li ng-click="publish(gridSelection)"><a href=""><i class="fa fa-cloud-upload fa-fw"></i> Publish </a></li>
          </ul>
        </div>

      </div>

    </div>

    <!-- Main Column -->
    <div class="col-md-8">

      <!-- Main Figure Visualization -->
      <div class="panel panel-default panel-focus">
        <div class="panel-heading panel-focus-heading">
          <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-file-o fa-fw"></i></span>
            <input class="form-control" type="text" placeholder="Email address" ng-model="gridSelection.title">
          </div>
          <!-- <h3 class="panel-title">{{gridSelection.title}}</h3> -->
        </div>
        <div phos-pathway graph="newPathwayTemplate.graph" options="panelNewPathwayOptions"></div>
      </div>

    </div>

  </div>

</div>
  

