<!-- grid -->
<div class="nav-grid">

  <!-- list grid-filters -->
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default">
        <ul class="nav nav-pills nav-justified">
          <li><a href=""><i class="fa fa-search fa-fw"></i> Search </a></li>
          <li><a href=""><i class="fa fa-clock-o fa-fw"></i> Recent </a></li>
          <li ng-click="selectedFilter = 'tags'"><a><i class="fa fa-tags fa-fw"></i> Tags </a></li>
          <li><a href=""><i class="fa fa-users fa-fw"></i> Users </a></li>
          <li><a href=""><i class="fa fa-code-fork fa-fw"></i> Forks </a></li>
          <li ng-click="selectedFilter = 'flasks'"><a href=""><i class="fa fa-flask fa-fw"></i> Flasks </a></li>
        </ul>
      </div>
    </div>
  </div>

  <div ng-if="selectedFilter">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div ng-switch on="selectedFilter">

              <div ng-switch-when="flasks">
                Filter by flasks
              </div>
              
              <!-- Filter By Tags -->
              <div ng-switch-when="tags">
                Filter by tag
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- grid -->
  <div class="row">

    <!-- gridblock-Hero -->
    <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3">
      <div class="hero-widget well well-sm">
        <div class="icon">
          <span class="fa-stack fa-3x">
            <i class="fa fa-cloud fa-stack-2x"></i>
            <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="text">
          <var>{{figures.length}}</var>
          <label class="text-muted">Published Figures</label>
        </div>
        <div class="options">
          <a href="" class="btn btn-primary btn-lg" ng-click="selectFigure(newPathway, true)"><i class="fa fa-plus"></i> Create a figure</a>
        </div>
      </div>
    </div>

    <!-- gridblock figures repeat -->
    <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 gridblock-repeat-animation" ng-repeat="fig in figures" ng-click="selectFigure(fig)">

      <!-- Block Panel -->
      <div class="panel panel-primary gridblock">

        <!-- Heading -->
        <div class="panel-heading">
          <h3 class="panel-title">{{fig.title}}</h3>
        </div>

        <!-- Graph -->
        <div ng-switch on="fig.type">
          <div ng-switch-when="pathway" class="gridblock-body-pathway">
            <div class="gridblock-graph" phos-pathway graph="fig.graph" mutable="false" scale="0.325"></div>
          </div>
        </div>

        <div class="gridblock-footer">
          <span class="pull-right gridblock-badges">
            <span class="badge">
              <i class="fa fa-code-fork fa-fw"></i> {{fig.forks}}
            </span>

            <span class="badge">
              <i class="fa fa-flask fa-fw"></i> {{fig.flaskCount}}
            </span>
          </span>
          <span class="pull-left">
            <i class="fa fa-user fa-fw"></i> {{fig.author}}
          </span>
        </div>
      </div>
    </div>

  </div>


</div>
