<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
    <div class="panel panel-default">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#"><i class="fa fa-th fa-fw"></i> Back to the Figure Grid</a></li>
      </ul>
    </div>

    <div class="panel panel-danger">
      <div class="panel-heading">
        What is Phospho?
      </div>
      <div class="panel-body">
          Phospho is a prototype of a <strong>format for describing biological data</strong>, designed to minimize the time and effort required to convert the output of automated biology instruments into publication ready figures.
      </div>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">
        How do I start using Phospho?
      </div>
      <div class="panel-body">
          Phospho is a prototype of a <strong>format for describing biological data</strong>, designed to minimize the time and effort required to convert the output of automated biology instruments into publication ready figures.
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        Who maintains Phospho?
      </div>
      <div class="panel-body">
          Phospho is a prototype of a <strong>format for describing biological data</strong>, designed to minimize the time and effort required to convert the output of automated biology instruments into publication ready figures.
      </div>
    </div>

  </div>
  <div class="col-xs-6 col-sm-6 col-md-8 col-lg-9">

    <div class="panel panel-default">
      <div class="panel-heading">
        Why Phospho?
      </div>
      <div class="panel-body">
         <h4>Biologists can now acquire high resolution snapshots of biological material, at low relative cost.</h4>

        <br>

        <p>Widespread adoption of automated instruments has enabled biologists to capture incredibly expressive datasets. This benefits society, as it has tended to increase the rate at which critical discoveries are made in developing novel therapies.</p>

        <br>

        <h4>However, with more data comes more problems.</h4>

        <br>

        <p>A typical biology workflow starts with a researcher planning an experiment. Next they run the experiment on a living (or lifelike) specimen, and concurrently take a series of measurements. With automated instruments, the number of measurements that can be taken from a single experiment increases by orders of magnitude. This boost comes from the fact that automated instruments eliminate human factors from experimental manipulation and measurement.</p>

        <p>The last step in the workflow is for a researcher to analyze the measurements that were taken, regardless of whether automation was used. And as life scientists have adopted automated instruments for acquisition, there is now a bottleneck in translating modern experimental datasets into a format that is useful for human consumption.</p>

        <br>

        <h4>Phospho unclogs the biology data bottlneck.</h4>

        <br>

        <p>Phospho was designed to have zero buy in, be completely interoprable, and basically make figures instantly that you can use for you own analysis, share with your colleagues, or share with the world.</p>
      </div>
    </div>
    
  </div>
</div>



