<div class="header">
  <ul class="nav nav-pills pull-right">
    <li ng-show="auth.user"><a ng-href="#">Home</a></li>
    <li ng-show="auth.user"><a ng-href="#curate">Curate Interactome</a></li>
    <li ng-show="auth.user" class="active"><a ng-href="#share">Share Data</a></li>
    <li ng-show="auth.user"><a ng-href="#feed">Data Feed</a></li>
    <li ng-hide="auth.user"><a ng-href="#" ng-click="login()">Log In</a></li>
    <li ng-show="auth.user"><a ng-href="#" ng-click="logout()">Log Out</a></li>
  </ul>
  <h3 class="text-muted">phospho</h3>
</div>
<p> The kinome of 
  <select ng-model="dataset" ng-options="d.title for d in ms2datasets | orderByPriority" ng-change="change()">
    <option value="">-- experimental condition --</option>
  </select>
  using
  <select ng-model="interactome" ng-options="i.title for i in interactomes | orderByPriority" ng-change="change()">
    <option value="">-- kinase interactome --</option>
  </select>
  <button ng-disabled="!kinome" ng-click="shareKinome()">Share This Kinome</button>
</p>

<ko-render val="kinome" scaler="kinomeScale"></ko-render>