<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li  class="active"><a ng-href="#share">Share a Kinome</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">phospho</h3>
</div>
<div class="btn-group">
  <button type="button" class="btn" bs-dropdown="ms2Dropdown">Choose an MS2 dataset <b class="caret"></b></button>
</div>
<div class="btn-group">
  <button type="button" class="btn" bs-dropdown="ksiDropdown">Choose a Kinase-Substrate Interactome <b class="caret"></b></button>
</div>
<h3>The current ksi is {{ksi}}</h3>
<ko-render val="kinome"></ko-render>